<!DOCTYPE html>
{% extends "user-layout.html" %}

{% block title%}
User || My-Order
{% endblock %}

{% block main-content %}
    <div class="container my-5">

      {% if order_length %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Payment method</th>
            <th>Payment Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in orders %}
          <tr>
            <td>{{item.product.product_name}}</td>
            <td>
              <img
                src="{{item.product.product_image.url}}"
                alt="{{item.product.product_name}}"
                height="100px"
                width="100px"
              />
            </td>
            <td>{{item.quantity}}</td>
            <td>Rs {{item.total_price}}</td>
            <td>{{item.get_payment_method_display}}</td>
            <td>{{item.get_payment_status_display}}</td>
            <td>
              <a href="{% url 'delete-order' item.id%}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="empty-container">
        <h1 class="text-color">No Order Items found.</h1>
      </div>
      {% endif %}
    </div>

{% endblock %}

