<!DOCTYPE html>
{% extends "base.html" %}

{% block page_title %}
Admin || categories
{% endblock %}

{% block main_content %}
    <div class="container">
      <h2 class="text-center my-5">All Categories</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in categories %}
          <tr>
            <td>{{item.category_name}}</td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <a href="{% url 'delete_category' item.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
