<!DOCTYPE html>
{% extends "base.html" %}

{% block page_title %}
Admin || Forms-basic
{% endblock %}

{% block main_content %}


<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1>Login Form</h1>

        <form method="post">
            {% csrf_token %}
           {% for field in form %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{field.label_tag}}</label>
                {{field}}
            </div>
           {% endfor %}
           <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</div>

{% endblock %}